
.general_body{
    padding: 0;
    margin: 0;
    padding: 0 20%;
    color-scheme: white;
}

.general_navbar{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
}

.general_navbar_link{
    margin-left: auto;
}

.general_border{
    border: 1px solid black;
    box-shadow: 3px 3px 2px black;
}

.general_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(221, 221, 221);
    text-decoration: none;
    background-color: rgb(61, 61, 61);
    padding: 5px 20px;
    height: 22px;
}

.general_button:hover{
    cursor: pointer;
    color: rgb(243, 119, 119);
    background-color: rgb(70, 70, 70);
}



.general_link{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    width: auto;
    height: 15px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    color: rgb(226, 226, 226);
}

.general_link:hover{
    color: rgb(184, 184, 184);
    background-color: rgb(92, 92, 92);
}

.general_font{
    color: rgb(224, 224, 224);
    text-decoration: none;
}


.background_color{
    background-color: rgb(150, 150, 150);
}

.background_color_2{
    background-color: rgb(114, 114, 114);
}

.inner_border{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

.general_input{
    background-color: rgb(190, 190, 190);
}

.inner_background{
    background-color: rgb(104, 104, 104);
}

.table_background{
    background-color: rgb(160, 160, 160);
}

.table_background_2{
    background-color: rgb(141, 141, 141);
}

.scroll_bar::-webkit-scrollbar{
    width: 7px;
    background-color: gray;
}

.scroll_bar::-webkit-scrollbar-thumb{
    background-color: rgb(179, 179, 179);
    border-radius: 5px;
}